*{
    padding: 0;
    margin: 0;  
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

#nav{
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
}

.navbar{
    background-image: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.style{
    height: 46px;
    width:auto ;
}

.fa-bars{
    color: brown;
}

.img{
    height: 19rem;
    width: auto;
}

.text{
    padding-top: 10px;
}

.img-1{
    height: 350px;
    width: 350px;
}

.packages{
    padding-top: 20px;
}

.bottom{
    padding-top: 30px; 
}

#header,h3{
    text-decoration: underline;
    text-transform: uppercase;   
}

.rating{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top:150px;
}

.star{
    padding-top:20px;
}

.country{
    font-weight: 700;
    text-decoration: underline;
    background-image: linear-gradient(to right,#439cfb,#f187fb);
    color: whitesmoke;
    border-radius: 50%;
}

.content{
    font-size: 20px;
    font-style: italic;
}

/* .aeroplane{
    animation: aero 8s linear infinite;
}

@keyframes aero {
    25%{
        transform: translateX(400px);
    }
    50%{
        transform: translateX(1050px) ;
    }
    100%{
        transform: translateX(-0px);
    }    
} */

#footers{
    padding: 50px 0;
    /* background-image: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    ;
    /* background-color: antiquewhite; */
}

.icons img{
    height: 100px;
    width: 100px;
    margin-left: 40px;
    transition: 0.6s;
    padding: 20px;
    top: 0;
}

.icons img:hover{
    transform: translateY(-10px);
}

.footer-image{
        width: 100%;
}

#foot{
    background-image: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

.logo{
    height: 170px;
    width: 170px;
    margin-left: 80px;
}

.description{
    color: hsla(0, 5%, 4%, 0.676);
    font-style: italic;
    font-size: 23px;
    text-align: justify;
    padding-left: 20px;
    top: 0;
    height: auto;
}

.option{
    padding-left:130px;
    padding-top:80px;
}

.option p{
    padding-left:50px;
    text-align: center;
    color: black;  
}

.option i{
    /* padding-right: 10px;
    padding-bottom: 5px; */
    height:20px;
    width:150px;
    background-image: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius:7px ;
}

.forms{
    padding-left: 80px;
    padding-top: 47px;
}

.conc{
    height: 35px;
    width: 220px;
    border-radius: 8px;
}

.forms p {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
}

.forms label{
    font-size: 18px;
    font-weight: 500;
}

.option p{
    display: inline !important;
    font-weight: 400;
}

.option i{
    display: block !important;  
}

.option h5{
    font-size: 20px;
    text-decoration: underline;
    padding-left: 16px;
    color: black;
    letter-spacing: 0px;
    text-rendering:optimizeSpeed;
    text-transform: uppercase;
}

.ping{
    padding-top: 25px;
}

.nav-item{
    transition: 0.4s;
}

.nav-item:hover{
    transform:translateY(-5px) ;
}


.button{
    margin-top: 35px;
    border-radius: 8px;
    background-color: rgba(220, 20, 60, 0.5);
}

.first{
    padding-top:50px ;
}

#Testimonial{
    padding-bottom: 40px;
}

.image1{
    border-radius: 20px;
}
